.flame {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--color-white);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.iframe-rwd {
    display: inline;
    float: left;
    width: 100%;
    height: 400px;
    padding-top: 25px;
}

.iframe-rwd iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

.info-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-bottom: .5rem;
}

.info-icon-home {
    fill: var(--color-primary);
}

.info-icon-mobile {
    fill: var(--color-open);
}

.info-icon-envelope {
    fill: var(--color-white);
}

.call:hover {
    text-decoration: none;
}

.openinghours {
        background-color: #d2d2d2;
    border-radius: 20px;
    overflow: hidden;
    /* display: inline-block; */
    /* margin: auto; */
    /* width: 100%; */
}

.openinghourscontent {
    /*float: left;*/
}

.openinghourscontent h2 {
    display: block;
    text-align: center;
    margin-top: .33em;
}

/*.today {
    color: var(--color-open);
}*/
.sunday {
    letter-spacing: 2px;
    word-spacing: 5px;
    font-style: italic;
}
.opening-hours-table tr td:first-child {
    font-weight: bold;
}

#open-status {
    display: block;
    text-align: center;
}

.openorclosed:after {
    content: " open during these hours:";
}

.open {
    color: var(--color-open);
}

.open:after {
    content: "Trenutno otvoreno";
    color: var(--color-open);
}

.closed:after {
    content: "Trenutno zatvoreno";
    color: var(--color-primary);
}
.opening-hours-table{
    width: 100%;
}
.opening-hours-table tr td {
    padding: 1rem;
}

.contact {
    background-color: var(--color-secondary);
    color: var(--color-white);
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    width: 85%;
}

@media only screen and (max-width: 37.5em) {
    .contact {
        text-align: left;
        width: 100%;
    }
}

.contact h4 {
    color: var(--color-white); /*#0077b5*/
    font-weight: bold;
    padding-bottom: 5px;
}

.contact a {
    color: var(--color-white);
}

#maps {
    background-image: var(--gradient), url(../img/roads1.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}