ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

figcaption {
  font-style: italic;
  font-size: 1em;
  color: grey;
  padding-top: 40px;
}

.grids {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 90%;
  grid-gap: 1em;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 2em 1em;
  background: white;
}
@media all and (min-width: 600px) {
  .grids {
    grid-auto-flow: initial;
    grid-template-columns: repeat(auto-fit, minmax(auto, 15em));
    justify-content: center;
    -webkit-overflow-scrolling: touch;
  }
}
.grid__figure {
  display: grid;
  grid-template-rows: 9em 1fr;
  grid-gap: 1em;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.grid__figure img {
  width: 200px;
  height: 150px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;  
}
.black{
    background: #000;
}
.ml {
    margin-left: 20px !important;
}